@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: black;
  color: #6c8fac;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #474747;
  border-radius: 20px;
}

.requested-lyrics {
  white-space: pre-line;
}
